:root {
    --primary: rgb(255, 13, 80);
    --secondary: rgb(29,9,59);
    --tertiary: rgb(29,9,59,0.5);
    --quaternary: rgb(255, 255, 255);
}

body {
    background-image: url(Images/background.png);
}
#body2 {
    background-color: var(--tertiary);
    max-width: 960px;
    min-width: 750px;
    min-height: 100%;
    position: absolute;
    width: 80%;
    top: 0;
    padding-left: 5%;
    padding-right: 5%;

    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}
section {
    background-color: var(--tertiary);
    max-width: 90%;
    padding: 2px 5% 40px 5%;
    border-radius: 15px 15px;
    box-shadow: 5px 5px black;
}
h1,h2,h3 {
    text-align: center;
    color: var(--primary);
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h4,h5,h6 {
    text-indent: 2rem;
    text-align: center;
    color: var(--primary);
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p,li {
    color: var(--quaternary);
    text-indent: 1rem;
    text-align: justify;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
td {
    color: var(--quaternary);
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.GridBlock {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap: 4% 4%;
}
.GridMember {
    max-width: 100%;
    height: fit-content;
    background-color: var(--tertiary);
    border-radius: 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    box-shadow: 7px 7px rgba(0, 0, 0, 0.5);
}
hr {
    max-width: 80%;
}